.logotype {
  color: var(--text-color-blue);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;
  display: block;
}

.logotype-secondary {
  color: var(--title-text-color);
}
