.image-overlay-text {
  background: rgba(33, 150, 243, 0.9);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--text-color-button);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  transform: translate(0, 100%);
  transition: transform 250ms linear;
}

.image-overlay {
  position: relative;
  overflow: hidden;
}

.image-porfolio-link:hover .image-overlay-text,
.image-porfolio-link:focus .image-overlay-text {
  transform: translate(0, 0);
}

.img-info-porfolio {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.image .image-header {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.image .image-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
