.image {
  box-sizing: border-box;
  background: var(--text-color-button);
}

.image-porfolio {
  flex-basis: calc((100% - 60px) / 3);
}

.image-porfolio-link {
  text-decoration: none;
}

.img-info-porfolio {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-porfolio-link:hover .img-info-porfolio,
.image-porfolio-link:focus .img-info-porfolio {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
